# Roblox API Configuration
# Get your API key from: https://create.roblox.com/dashboard/credentials
# Copy this file to .env and fill in your values

# Your Roblox Open Cloud API Key
ROBLOX_API_KEY=dwZnbkRqP06TNKoul2MtNj2qe+eUKX30U4ekglUzJOKMLBoiZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNkluTnBaeTB5TURJeExUQTNMVEV6VkRFNE9qVXhPalE1V2lJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUpTYjJKc2IzaEpiblJsY201aGJDSXNJbWx6Y3lJNklrTnNiM1ZrUVhWMGFHVnVkR2xqWVhScGIyNVRaWEoyYVdObElpd2lZbUZ6WlVGd2FVdGxlU0k2SW1SM1dtNWlhMUp4VURBMlZFNUxiM1ZzTWsxMFRtb3ljV1VyWlZWTFdETXdWVFJsYTJkc1ZYcEtUMHROVEVKdmFTSXNJbTkzYm1WeVNXUWlPaUkzT1RRM01ERTRNVFl4SWl3aVpYaHdJam94TnpZMU5UYzBORFV6TENKcFlYUWlPakUzTmpVMU56QTROVE1zSW01aVppSTZNVGMyTlRVM01EZzFNMzAuaXRZWEdjcEdpRWtEX3ZqTmRKakZUU2wzMDVlS2VROVBYLU5ua0VsRzhjRWNQOVVIZi1IWURjYVFWQnNQNjBxU0xHaVZ4WGsyVFdPTlhEWVp1a1h1ZjA0Rkp2bFlSZnprOE1CQ0toRF9NQ1d3NUE4azBwTmJHWVQwai1GSmVnNk44M0RaSnpQX1BJcTVmRFlaVmlNVUo0RUtmQ1dwVjZjWkxxSnFDakNITGVmWFprNnNLQ1YtcEdsVGkxR2lCSmVhZElCS0Y4SGstWG1NdXd5X0xtN0NkcWtpYm93dFBjMDVsX2NackZ0QWcwZnh2VVllSi1iTUcyWnF1d0Y0TGRreXZYOHhTb0xEUllHSWtUakRjcHBOS29xb3Q2UGRlaEtmbFl1S2YtX05OZWZKcDlUMk1US3ctSEh3ZUNJV29TWDNiVGJKdm5zTzZTRXVZS3ByNDBDNE93

# Your Roblox Universe ID (the game/universe this belongs to)
# You can find this in your game's settings or URL
ROBLOX_UNIVERSE_ID=9318055993

# The Place ID of your template place (the place that will be cloned for each player)
TEMPLATE_PLACE_ID=121499557418849

# Server Configuration
PORT=3000

